/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  /* background: linear-gradient(#ffffff, #c0c0c0); */
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333333;
  /* color: #c0c0c0; */
  height: 80px;
  padding: 10px 40px;
}

.navLinks {
  display: flex;
}

.navLink {
  text-decoration: none;
}
.active {
  text-decoration: underline;
}

ul,
li {
  margin: 0;
  padding: 0;
}

main {
  padding: 0 40px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

nav a {
  color: white;
  padding: 20px;
}

/*Home Page*/

/* Campuses */

.campusesContainer {
}

.campuses {
  list-style: none;
}

.campusLogos {
  width: 300px;
}

/* Students */

.allStudents {
  display: flex;
  flex-direction: column;
}

.students {
  list-style: none;
  padding: 10px;
}

/* Buttons */
.edit {
  background-color: darkgreen;
  color: white;
}

.delete {
  background-color: darkred;
  color: white;
}
